<div class="forbidden-wrapper">
    <div class="forbidden-box">
        <p>This application provides a simple functionality for users to register 
            by using the SignUp tab in the navigation bar. It offers two 
            distinct roles, namely ROLE_USER and ROLE_ADMIN. The admin has to be created 
            manually in the database. All the users that signup will be automatically assigned 
            the role ROLE_USER. Both the admin and the user can access the application by logging 
            in through the Login tab in the navigation bar. The backend of the application is 
            implemented using Spring Boot in Java. After validating the user's credentials, a 
            JWT token is generated, which is utilized for authenticating subsequent requests 
            made by the user. The user dashboard is exclusively accessible to users with 
            the ROLE_USER role, while the admin dashboard can only be accessed by users 
            who are logged in with the ROLE_ADMIN role.</p>
    </div>
</div>